@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */
/*
Jason Gomez 200587201
Daniel Perusse 20055190
Sebastian 200561191
*/


html {
    border: 0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightyellow;
}

.container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 15%;
    margin-top: 60px;
    margin-bottom: 0;
}

.buttonFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background: #1bfc06;
}

button {
    width: fit-content;
    margin: 0 20px 0 20px;
    padding: 5px 10px 5px 10px;
}

.buttonFlex button {
    color: whitesmoke;
    border: solid;
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    padding: 20px;
    box-shadow: 0 5px rgba(102,102,102,0.35);
}

.buttonFlex button:active {
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
    box-shadow: none;
    transform: translateY(4px);
  }

.generate-story {
    background-color: #04AA6D;
}

.translate {
    background-color: #008CBA;
}

.reset {
    background-color: #f44336;
} 

th button {
    font-weight: 900;
    background-color: transparent;
    border: solid;
    border-radius: 100%;
    border-color: white;
    border-width: 5px;
    box-shadow: 0 5px rgba(102,102,102,0.35);
}

th button:active {
    background-color: rgba(0,0,0,0.19);
    box-shadow: none;
    transform: translateY(4px);
  }

table {
    padding: 5%;
    border-spacing: 1px;
}
th {
    padding-top: 20px;
    padding-bottom: 20px;
}

td {
    width: 20%;
    text-align: center;
    padding: 7px
}

p {
    margin: auto;
    font-weight: 900;
}