@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */
/*
Jason Gomez 200587201
Daniel Perusse 20055190
Sebastian 200561191
*/

html {
    border: 0;
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 15%;
    margin-top: 30px;
}

.selected {
    background: #1bfc06;
}



table {
    padding: 5%;
    border-spacing: 1px;
}
th {
    padding-top: 20px;
    padding-bottom: 20px;
}

td {
    width: 20%;
    text-align: center;
    padding: 7px
}